extends layout

style.
  p {
    font-family: 'Lato'
  }
block content
  h1= title
  p Welcome to #{title}
  button(type='submit', onclick='something()').btn.btn-primary Submit
// script(src="/Scripts/jquery.timeago.js")